body {
  font-family: 'Quicksand', serif;
  /* color: #868e96; */
  color: #ffffff;
  overflow-x: hidden;
  line-height: 32px;
  background-color: #050505;


}
/* html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
 
} */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#0d6efd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0054d1; 
}
.About{
  padding-top:100px;
}
@media only screen and (min-width: 992px) {
  img#pro{
    width:20rem;
    height: 20rem;
  }
  .h1{
    font-size: 4rem!important;
    }

    img#pro1{
      display: none;
      width:200px;
      height: 200px;
    }

}

@media only screen and (min-width: 768px) {
  img#pro{
    width:20rem;
    height: 20rem;
  }


  .h1{
    font-size: 4rem!important;
    }
    img#pro1{
      display: none;
      width:200px;
      height: 200px;
    }


}


@media only screen and (max-width: 767px) {
  

  img#pro{
    display: none;
    width:200px;
    height: 200px;

  }

  img#pro3{
    display: none;
    width:200px;
    height: 200px;

  }

  img#pro1{
    display: block;
    width:200px;
    height: 200px;
  }
  
  div.Education{
    padding-left: none;
  }
  .h1{
    font-size: 3rem!important;
    }

  .row#abou{
    flex-direction: column-reverse;
  }
}
a{
  text-decoration-line:none ;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #343a40;
}

h1 {
  font-size: 3.7rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
}
.subheading {
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Quicksand', serif;
  font-size: 1rem;
}
li{
  margin-bottom: 5px;
  font-size: medium;
}
i{
  font-size: 50px;
  margin: 2px;
}
.footer{
  font-size: 20px;
  padding-right: 20px;
}

.logo{
  border:0.2rem solid #ffffff;
  border-radius: 50%;
}

.btn-outline-primary:hover{
color: #050505;
}


#navbar.transparent {
  background-color: transparent;
}

#navbar.visible {
  background-color:#0d6efd; /* Set your desired background color */
}

.navbar{
  transition: background-color 0.3s;

}

