*{
  /* font-family: 'Champion', sans-serif;  */
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  transition: all .2s linear;
  text-decoration: none;
  /* overflow-x: hidden; */
  


}

div{
  overflow-y: hidden;
  overflow-x: hidden;
}

h1,h2{
  overflow-y: hidden;
}

body {
  font-family: 'Quicksand', serif;
  /* color: #868e96; */
  color: #ffffff;
  /* line-height: 32px; */
  background-color: #050505;
  /* overflow-x:hidden; */



}

#navbar.transparent {
  background-color: transparent;
}

#navbar.visible {
  background-color: #0d6efd;
  /* Set your desired background color */
}

.navbar {
  transition: background-color 0.3s;

}

/* 
body {
  background-color: #050505;
} */

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);


}


.l-section-img {
  background-image: url("./High_resolution_wallpaper_background_ID_77701642487.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 0;
  background-size: cover;
  transition: 0s linear;
  transition-property: background-position;
  /* overflow: hidden; */
}



.l-section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.l-section {
  position: relative;
  margin: 0 auto;
}

.l-section.full_height {
  min-height: 100vh;
}

.l-section.height_medium {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.l-height {
  position: relative;
  margin: 0 auto;
}


section.full_height.valign_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 600px) {

  .l-sidebar,
  .l-section.height_small,
  .l-section.height_medium {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}


/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#0d6efd; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0054d1; 
}
.About{
  padding-top:100px;
}
@media only screen and (min-width: 992px) {
  img#pro{
    width:20rem;
    height: 20rem;
  }
  .h1{
    font-size: 4rem!important;
    }

    img#pro1{
      display: none;
      width:200px;
      height: 200px;
    }

}

@media only screen and (min-width: 768px) {
  img#pro{
    width:20rem;
    height: 20rem;
  }


  .h1{
    font-size: 4rem!important;
    }
    img#pro1{
      display: none;
      width:200px;
      height: 200px;
    }


}


@media only screen and (max-width: 767px) {
  

  img#pro{
    display: none;
    width:200px;
    height: 200px;

  }

  img#pro3{
    display: none;
    width:200px;
    height: 200px;

  }

  img#pro1{
    display: block;
    width:200px;
    height: 200px;
  }
  
  div.Education{
    padding-left: none;
  }
  .h1{
    font-size: 3rem!important;
    }

  .row#abou{
    flex-direction: column-reverse;
  }

  .tag-button{
    width: 100%;
  }
}
a{
  text-decoration-line:none ;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #343a40;
}

h1 {
  font-size: 3.7rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
}
.subheading {
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Quicksand', serif;
  font-size: 1rem;
}
li{
  margin-bottom: 5px;
  font-size: medium;
}
i{
  font-size: 50px;
  margin: 2px;
}
.footer{
  font-size: 20px;
  padding-right: 20px;
}

.logo{
  border:0.2rem solid #ffffff;
  border-radius: 50%;
}

.btn-outline-primary:hover{
color: #050505;
}

.tag-button{
font-size: 1rem;
padding: 0.2rem;
box-sizing: border-box;
margin: 1rem;
color: #ffffff;
background: linear-gradient( linear-gradient(45deg, rgb(10, 11, 18) 30%, rgba(0,20,71,1) 100%, rgba(5,39,89,1) 100%));
border-radius: 10px;
border: 0.2rem solid white;
display: block;
text-align: center;
/* width:20% */
width: 16.6666666666667%;
}



